.animateParent * {
  display: none;
}

.aboutContainer {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  color: white;
}

.aboutWrapper {
  position: relative;
  width: 100%;
  height: 30%;
  margin-top: 6%;
}

.aboutTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.aboutName,
.aboutDesc {
  width: 30%;
  padding: 0px 10px;
}

.aboutDesc div {
  padding-bottom: 15px;
  opacity: 0;
  transform: translateX(-75%);
  animation: slideInFromLeft 1.5s forwards;
}

.aboutName h1,
.aboutEducName {
  opacity: 0;
  transform: translateX(-75%);
  animation: slideInFromLeft 1.5s forwards;
}

.aboutName h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.aboutSkills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsItem {
  cursor: pointer;
  margin: 0px 10px;
  background: rgba(18, 18, 18, 0.05);
  padding: 10px 20px;
  border-radius: 20px;
  border: white solid 1px;
  opacity: 0.5;
  animation: FadeIn 1.5s backwards;
}

.skillsItem:hover {
  opacity: 1;
}

.activeSkill {
  cursor: pointer;
  margin: 0px 10px;
  background: rgba(18, 18, 18, 0.05);
  padding: 10px 20px;
  border-radius: 20px;
  border: white solid 1px;
  opacity: 1;
  animation: FadeIn 1.5s backwards;
}

@media screen and (max-width: 600px) {
  .aboutTitle {
    flex-direction: column;
    padding-left: 5%;
  }

  .aboutName,
  .aboutDesc {
    width: 100%;
  }

  .aboutName {
    margin-bottom: 20px;
  }

  .aboutSkills {
    flex-direction: column;
  }
  .aboutSkills div {
    margin-top: 10px;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
