.aboutContainer {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  color: white;
}

.aboutWrapper {
  position: relative;
  width: 100%;
  height: 30%;
  margin-top: 10%;
}

.aboutTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.aboutName,
.aboutDesc {
  width: 30%;
  padding: 0px 10px;
}

.aboutName h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .aboutTitle {
    flex-direction: column;
    padding-left: 5%;
  }

  .aboutName,
  .aboutDesc {
    width: 100%;
  }
}
