.codeContainer {
  position: absolute;
  width: 100%;
  height: 80vh;
  background: rgba(18, 18, 18, 0.7);
  top: 10%;
}

.codeWrapper {
  width: 50%;
  height: 100%;
  background: rgba(18, 18, 18, 0.1);
  float: right;
  margin-right: 12%;
  overflow: hidden;
}

.codeLineWrapper {
  width: 100%;
  height: 20px;
  display: inline-block;
  color: white;
}

.codeLineWrapper:hover {
  background: rgba(0, 0, 0, 0.1);
}

.codeLine {
  display: inline-block;
}

.codeLine div {
  display: inline;
}

.codeClass {
  color: yellow;
}
