.codeContainer {
  position: absolute;
  width: 100%;
  height: 80vh;
  background: rgba(18, 18, 18, 0.1);
  top: 10%;
}

.codeWrapper {
  width: 50%;
  height: 100%;
  background: rgba(18, 18, 18, 0.1);
  float: right;
  margin-right: 12%;
  overflow: hidden;
  font-size: 1rem;
}

.codeLineWrapper {
  width: 100%;
  display: inline-block;
  color: white;
}

.codeLineWrapper:hover {
  background: rgba(0, 0, 0, 0.1);
}

.codeLine {
  display: flex;
  padding: 0;
  margin: 0;
}

.codeLine div {
  display: inline;
}

.codeClass {
  color: yellow;
}

@media screen and (max-width: 600px) {
  .codeWrapper {
    margin-right: 0;
    float: left;
    width: 100%;
    opacity: 0.7;
  }
}
