.navbarHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: top 0.6s;
  color: white;
  font-family: "Montserrat, sans-serif";
  background: rgba(255, 255, 255, 0);
  animation-name: FadeIn;
  animation-duration: 1.5s;
  z-index: 100;
}

.navbarLogo {
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.navbarLogo:hover {
  opacity: 0.75;
}

.navbarUL {
  list-style: none;
}

.navbarUL li {
  display: inline-block;
  padding: 0px 10px;
}

.navbarUL li a {
  transition: all 0.4s ease-in-out;
  opacity: 1;
  font-size: 20px;
}

.navbarUL li a:hover {
  opacity: 0.75;
}

.navbarHeader.animate {
  top: -70px;
}

.menu-btn {
  display: none;
}

.navbarlogo_button {
  margin-right: auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .menu-btn {
    display: flex;
  }
  .navbarNAV.close {
    height: 0;
    opacity: 0;
  }
  .navbarNAV.open {
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .navbarNAV .navbarUL li {
    width: 100%;
    padding: 0;
  }

  .navbarUL {
    text-align: center;
  }
  .navbarUL li a {
    display: block;
    width: 100%;
    padding: 0;
  }
  .navbarHeader {
    flex-direction: column;
    padding: 0;
  }
  .navbarlogo_button {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 15px 15px;
  }

  .navbarUL {
    text-align: center;
  }

  .navbarNAV .navbarUL li {
    width: 100%;
    padding: 0;
  }

  .navbarUL li a {
    display: block;
    width: 100%;
    padding: 0;
  }

  .burgerMenu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbarLink {
  opacity: 0.8;
}

.navbarLink.active {
  opacity: 1;
}
