.projects {
  min-height: 100vh;
}

.projectContainer {
  min-height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 5%;
}

.projectTitle {
  margin-bottom: 30px;
  font-size: 1.5rem;
  opacity: 0;
  animation: FadeIn 1s forwards;
}

.projectImg {
  width: 100%;
  height: 300px;
  border: white solid 1px;
  border-radius: 20px;
  opacity: 0;
  animation: FadeIn 1s forwards;
}

.projectListUL {
  columns: 2;
  display: flex;
  justify-content: center;
}

.projectName {
  margin-top: 20px;
}

.projectItem {
  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px 40px;
}

.projectName ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.projectDesc {
  text-align: left;
  margin-top: 10px;
  opacity: 0;
  transform: translateX(-75%);
  animation: slideInFromLeft 1.5s 1.8s forwards;
  line-height: 1.5rem;
}

.projectItemTitle {
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  transform: translateX(-75%);
  animation: slideInFromLeft 1.5s forwards;
}

.projectItemSkill {
  cursor: pointer;
  border: white solid 1px;
  border-radius: 20px;
  padding: 5px 10px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-75%);
  animation: slideInFromLeft 1.5s forwards;
}

.projectItemSkill:hover {
  color: cyan;
  border-color: cyan;
}

@media screen and (max-width: 600px) {
  .projectListUL {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectItem {
    width: 90%;
    padding-bottom: 20px;
  }

  .projectName UL {
    flex-direction: column;
  }

  .projectName ul li {
    width: 90%;
  }
  .projectDesc {
    text-align: center;
  }
}
