.starterContainer {
  width: 100%;
  min-height: 100vh;
  background: rgb(18, 18, 18, 0.05);
}

.starterTitle span {
  display: block;
}

.starterTitle {
  position: absolute;
  top: 30%;
  overflow: hidden;
  margin-left: 15%;
  color: white;
}

.starterTitle h1 {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1.4rem;
  font-weight: normal;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  transform: translateX(-100%);
  animation: slideInFromLeft 1s;
  animation-fill-mode: forwards;
}

.bars {
  transform: translateX(-100%);
  animation: slideInFromLeft 1s 1s;
  animation-fill-mode: forwards;
  margin-bottom: 10px;
}

.bar {
  width: 80%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}

.bar2 {
  width: 80%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  transform: translateX(20%);
}

.starterTitle p {
  font-size: 1rem;
  transform: translateX(-100%);
  animation: slideInFromLeft 1s 2s;
  animation-fill-mode: forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  .starterTitle {
    position: absolute;
    top: 30%;
    overflow: hidden;
    margin-left: 5%;
    color: white;
  }
}
